/* Transações agrupadas por dia */
h3 {
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}

/* Transação */
.transacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    flex-direction: column;
}

.transacao .descricao {
    font-weight: bold;
}

.transacao .valor {
    font-size: 16px;
    font-weight: bold;
}

.receita {
    color: green;
}

.despesa {
    color: red;
}
